/dist/
/build/
.README_template.md
/Roadmap-retos-programacion/nbproject/private/
/nbproject/private/
/fundamentos/Fundamentos/nbproject/private/
/T1-Fundamentos/T1-Fundamentos/nbproject/private/
/src/T1-Fundamentos/nbproject/private/
